@model IEnumerable<Common.IPerson>

@{
    ViewData["Title"] = "Personen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="CreateTrainer" asp-route-mannschaftId="@ViewData["mannschaftId"]">Create New Trainer</a><br />
    <a asp-action="CreateSpieler" asp-route-mannschaftId="@ViewData["mannschaftId"]">Create New Spieler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geburtsdatum)
            </th>
            <th>
                Aufgabe
            </th>
            <th>
                Gehalt
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item is Common.Spieler)
                {
                    <span>Spieler</span>
                }
                else if (item is Common.Trainer)
                {
                    <span>Trainer</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtsdatum)
            </td>
            <td>
                @if (item is Common.Spieler) { @Html.DisplayFor(modelItem => (item as Common.Spieler).Aufgabe) }
            </td>
            <td>
                @if (item is Common.Trainer) { @Html.DisplayFor(modelItem => (item as Common.Trainer).Gehalt) }
            </td>
            <td>
                @if (item is Common.Spieler)
                {
                    @Html.ActionLink("Edit", "EditSpieler", new { id = item.PersonId, mannschaftId = ViewData["mannschaftId"] })
                }
                else if (item is Common.Trainer)
                {
                    @Html.ActionLink("Edit", "EditTrainer", new { id = item.PersonId, mannschaftId = ViewData["mannschaftId"] })
                }  | @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
            </td>
        </tr>
}
    </tbody>
</table>
