@model IEnumerable<Common.Mannschaft>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MannschaftId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gruendungsdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MannschaftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gruendungsdatum)
            </td>
            <td>
                @Html.ActionLink("Peronen", "Index", "Person", new { mannschaftId = item.MannschaftId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.MannschaftId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MannschaftId })
            </td>
        </tr>
}
    </tbody>
</table>
